
.cart{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    margin-left: 30px;
    background: #8e8d8a;
    color: white;
    
}
.place-btn{
    background:#eae7dc ;
    margin-left: 25%;
    
}