
.cart{
    width: 300px;
    border-radius: 5px;
    margin-left: 30px;
    background: #8e8d8a;
    color:#fff;
    
}
.place-btn{
    background:#eae7dc ;
    margin-left: 25%;
    
}
.cut-title{
    color: gold;
}