
.single-card{
    height: 450px;
    width: 250px;
    margin-left: 15px;
    border-radius: 10px;
}
.product-img{
    
    height: 150px;
    width: 130px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-left: 20%;
}
.cart-btn{
    background: #8e8d8a;
    color: white;
    padding: 5px 15px;
}